spawnmenu {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 100px;
    margin-bottom: 200px;
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.1s ease-out;
    position: absolute;
    font-family: poppins;
    opacity: 0;
    //backdrop-filter: blur(25px);
    background-color: #b6b6b6, .15;
    //border: 3px solid #423f40;
    padding-left: 7.5px;
    padding-top: 7.5px;
    padding-bottom: 5px;
    padding-right: 7.5px;

    .tabs {
        font-size: 16px;
        flex-shrink: 0;
        margin-bottom: 4px;
        padding-left: 10px;
        background-color: rgba( #3472e6, 0.15 );
        border-radius: 5px;
        //border: 3px solid rgba(#423f40, 0.815);
        backdrop-filter: blur(25px);

        button {
            padding: 6px 5px;
            margin-right: 10px;
            font-size: 13px;
            align-items: center;
            font-weight: 600;
            opacity: 0.2;
            color: #fff;
            cursor: pointer;
            //border-radius: 5px;
            label {
                text-shadow: 1px 1px 1px rgba( black, 1 );
            }

            &:hover {
                opacity: 1;
            }

            &.active {
                transform: scale( 1 );
                opacity: 1;
                color: #fff;
                //	background-color: #fff;//( #3273eb, 0.2 );
                //color: #3273eb;
            }
        }
    }

    .left {
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        left: -500px;
        transition: all 0.3s ease-in;

        .body {
            border-radius: 5px;
            //background-color: rgba( #111, 0.7 );
            //background-image: linear-gradient(45deg, rgba(87, 87, 87, 0.1), rgba(#329ce3,0.5));
            flex-grow: 1;
            backdrop-filter: blur(25px);
            background-color: rgba( #111, 0.25 );
            //border: 3px solid rgba(87, 87, 87, 0.815);
        }
    }


    .right {
        margin-left: 10px;
        flex-direction: column;
        min-width: 450px;
        flex-shrink: 0;
        left: 500px;
        transition: all 0.3s ease-in;

        .body {
            //	background-color: rgba( #333, 0.95 );
            flex-grow: 1;
            border-radius: 5px;
            background-color: rgba( #111, 0.25 );
            padding: 10px;
            backdrop-filter: blur(25px);
            //border: 3px solid rgba(87, 87, 87, 0.815);


            .toollist {
                flex-direction: column;
                width: 150px;
                color: #aaa;

                button {
                    padding: 1px 10px;
                    font-size: 11px;
                    transition: all 0.2s ease-out;
                    cursor: pointer;
                    text-shadow: 1px 1px 2px rgba( black, 1 );

                    &:hover {
                        //border-left: 3px solid #3273eb;
                        color: white;
                    }

                    &.active {
                        //border-left: 5px solid #3273eb;
                        color: white;
                    }
                }
            }

            .inspector {
                //background-color: rgba( #111, 0.7 );
                flex-grow: 1;
                margin-left: 5px;
                border-radius: 0 3px 3px 0;
            }
        }
    }
}


.spawnmenuopen spawnmenu {
    transition: all 0.1s ease-out;
    pointer-events: all;
    opacity: 1;
    transform: scale( 1 );

    .left, .right {
        left: 0;
        transition: all 0.1s ease-out;
    }
}

.spawnpage {
    display: none;

    &.active {
        display: flex;
        opacity: 1;
    }

    .canvas {
        overflow: scroll;
        width: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 5px;
        //border: 3px solid rgba(87, 87, 87, 0.815);

        .cell {
            padding: 1px;
            padding-top: 4.5px;
        }

        .icon {
            border-radius: 5px;
            color: rgba( #fff, 0.5 );
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            width: 95%;
            height: 95%;
            background-position: center;
            background-size: cover;
            background-color: rgba(black, 0.1);
            background-image: url( /entity/spawnicon.png );
            //border: 3px solid rgba(87, 87, 87, 0.815);

            label {
                font-size: 10px;
                position: absolute;
                bottom: -17px;
                left: 0;
                right: 0;
                pointer-events: none;
                text-shadow: 1px 1px 1px rgba( black, 0.5 );
            }

            &:hover {
                color: #fff;
                background-color: rgba(black, 0.4);
                border: 3px solid rgba(150, 150, 150, 0.815);
                width: 100%;
                height: 100%;
            }

            &:active {
            }
        }
    }
}
