.codegen
obj
accesslist.txt
*.csproj
launchSettings.json
tools_asset_info.bin
tools_thumbnail_cache.bin
*.xml
*.dll
*.pdb
.intermediate/net5.0/sandbox.deps.json
maps/editor/_bakeresourcecache/toolscene_default_baked/*
*.txt
*.exr
*.txt
*.sqlite
*.json
*.sqlite
*.sqlite
*.sqlite
*.sqlite
.vs/willowbox/v16/.suo
*.exr
*.txt
*.vtex
*.exr
*.exr
*.exr
*.exr
maps/_bakeresourcecache/castlewhitespire_baked/env_cubemap_36.exr
*.exr
*.exr
*.exr
*.vtf
*.vtf
*.vtf
*.exr
*.txt
*.sqlite
*.tga
*.vmat
*.ani
*.vtx
*.mdl
*.vvd
*.phy
*.vmdl
*.dmx
*.qc
*.smd
*.vpcf
*.wav
*.sound
*.mp3
